body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b2b2b;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#555, #222);
    background-image: url('https://c4.wallpaperflare.com/wallpaper/706/837/179/the-city-future-the-moon-skyscrapers-pixels-hd-wallpaper-preview.jpg'); 
    background-size: cover;
}

#player {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 50px;
    height: 80px;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a67ac30c-fe21-4e97-8dad-ffa8b2670167/dbp6qj1-eaae0ccf-b87c-4509-895a-995cd53bafbe.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E2N2FjMzBjLWZlMjEtNGU5Ny04ZGFkLWZmYThiMjY3MDE2N1wvZGJwNnFqMS1lYWFlMGNjZi1iODdjLTQ1MDktODk1YS05OTVjZDUzYmFmYmUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.L9jOG8x4e3R0TEsYb11Vv8LBB_hUinUhpnm7o3-XGGc'); /* Imagen del personaje */
    background-size: cover;
}

.enemy {
  width: 50px;
  height: 50px;
  position: absolute;
  background: url('http://ngplus.net/uploads/monthly_2019_04/brobot_anm.gif.e16ff7b1e488804b8144e488394e4c60.gif.12768e6a08f19449f0c3a3c3ca33cafc.gif'); 
  background-size: cover;
     
}



#score {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-size: 20px;
}

#game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}

#game-over h1 {
    margin: 0;
    font-size: 48px;
}

#game-over button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

#start-game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #008CBA; /* Color azul para el botón de inicio */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#start-game:hover {
    background-color: #005f6b; /* Color azul más oscuro al pasar el ratón */
}
